@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&display=swap');

:root {
    --primary-color-text: #38184C;
    --primary-color-background: #FFFFFA;
    --primary-color-background-footer: #1C646D;
    --primary-color-background-header: #CEF09D;
    --primary-color-text-hover: #1F0802;
    --primary-color-lime: #A0CD60;
    --primary-color-cream: #f7f4eb;
    --primary-color-light-purple: #C66BFF;
    --primary-color-purple-second: #6B2299;
}

* {
    padding: 0;
    margin: 0;
    /*font-size: 1.5rem;*/
    font-family: 'Inter Tight', sans-serif;
    box-sizing: boder-box;
    color: var(--primary-color-text);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    background: var(--primary-color-cream);
}

/* Card Settings */


/* menu settings*/
.nav {
    font-size: 1.5rem;
    --bs-nav-link-hover-color: var(--primary-color-text-hover);
    margin: 0 auto;
    
}

.main-header.container {
    margin: 0 auto;
}

/* icon adjustments */
i {
    margin: 5px;
}

/* unvisited link */
a:link {
    color: var(--primary-color-text);
}

/* visited link */
a:visited {
    color: var(--primary-color-text);
}

/* mouse over link */
a:hover {
    color: var(--primary-color-text-hover);
}

/* selected link */
a:active {
    color: var(--primary-color-text);
}

/* search adjustments */
.search-form {
    border: .2rem solid var(--primary-color-text);
    max-width: 80%;
    position: relative;
    border-radius: 0.5rem;
    transition: all 300ms ease-in-out;
    margin: 0 auto;
}

.container-filter {
    margin: 2rem 5rem 2rem 5rem;
    position: relative;
}

.search-form:focus-within {
    border-color: #A0CD60;
    background: #ddd;
}

.search-button:focus {
    outline: 1px solid var(--primary-color-background-header);
    background: rgba(0, 0, 0, .05);
}

.search-form:focus-within .fa-magnifying-glass {
    color: #A0CD60;

}

.search-input,
.search-button {
    border: none;
    background: none;
    outline: none;
    padding: .7rem;
}

.search-input {
    width: 100%;
    padding-right: 3.5rem;
    margin: 0 auto;
    position: relative;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
}

.search-button:active {
    border: none;
    outline: none;
}

.fa-magnifying-glass {
    font-size: 2.0rem;
    outline: none;
}

/* Central container settings base.html */
.container {
    font-size: 2.2rem;
    margin-top: 1.5rem;
    --bs-nav-link-hover-color: var(--primary-color-text-hover);
    margin: 0 auto;
}

.container-main {
    max-width: 95%;
    margin: 3.5rem auto;
}

.container-blank {
    margin: 70px;
}

.main-header-container {
    background: var(--primary-color-cream);
}

/*Adjustments menu left*/
/*@media screen and (min-width : 64rem) {
    .main-header-container {
        top: 0;
        left: 0;
        width: 10rem;
        position: absolute;
        background: #CEF09D;
        height: 100%;
        text-align: center;
        justify-content: center;
        font-variant: all-petite-caps;
    }

    .main-header {
        margin-top: 20rem;
    }

    body{
        border-left: 10rem solid #f7f4eb;
    }
}*/

/* Adjustments Jewel View */
.mb-5-jewel {
    display: flex;
    flex-direction: column;
    max-height: 80rem;
    
}

.container-dad {
    overflow-y:scroll;
}

.content-central {
    display: flex;
    justify-content: space-between;
    
}

.form-label {
    color:rgb(167, 166, 166);
    margin-bottom: 0;
    margin-top: 15px;
    margin-left: 10px;
}

.form-p {
    color: black;
    margin-left: 10px;
}

.table-p {
    color: black;
}

.content-left {
    display: inline-block;
}

.content-right {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.content-carousel {
    width: 600px;
}

.carousel-inner > .carousel-item > img {
    max-width: 640px;
    max-height: 480px;
    margin: 10px;
}

.carousel.slide {
    max-width: 640px;
    max-height: 480px;
    margin: 10px;
    
}

.card.mb-5.stones-view {
    margin: 5px 15px 5px 15px;
}

.card.mb-5.pearls-view {
    margin: 5px 15px 5px 15px;
}

.card.mb-5.services-view {
    margin: 5px 15px 5px 15px;
}

/* List Jewelry Adjustments */
.card.mb-5.jewel{
    max-height: 70rem;
}

.table-striped {
    border-radius: 1rem;
    font-size: 1.5rem;
    overflow: auto;
}

/*Fixed top table*/
/*.table-striped thead th {
    position: sticky;
    top: 0;
}*/

#data_jewel th {
    background-color: var(--primary-color-background);
}

img {
    height: 100%;
    width: 100%;
}

thead {
    background-color: var(--primary-color-background);
    font-size: 1.5rem;
    color: black;
}

/*btn generic adjustments*/
.btn {
    transition-duration: 0.4s;
}

/*popover adjustments*/
.popover-body {
    font-size: 1.5rem;
    background-color: beige;
    width: 100%;
    height: 100%;
}

.popover-header {
    width: 100%;
}

.custom-popover {
    --bs-popover-max-width: 35rem;
    --bs-popover-border-color: var(--primary-color-text);
    --bs-popover-header-bg: var(--primary-color-text);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
    --bs-popover-header-font-size: 1.5rem;
}

.btn_info {
    font-size: 1.2rem;
    background-color: var(--primary-color-background-header);
}

.btn_info:hover {
    background-color: var(--primary-color-lime);
}

/* Search Jewel */
.container-search-jewel {
    width: 70%;
    position: relative;
    margin: 0 auto;
}

/* Card SettingsJewel */
.card.mb-5.settings-jewel {
    max-height: 60rem;
    display: flex;
}

.row.settings-jewel {
    justify-content: space-evenly;
    padding-left: 0;
    padding-right: 0;
}


/* Card NewJewelry */
.row.g-3 {
    padding: 0.8rem;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.card.mb-5.newjewel{
    max-height: 80rem;
}

.card.mb-5.services{
    margin-top: 15px;
}

.card.mb-5.stones{
    margin-top: 15px;
}

.card.mb-5.pearls{
    margin-top: 15px;
}

.card.mb-5.metals{
    margin-top: 15px;
}

.card.mb-5.indicators{
    margin-top: 15px;
}

.card-block.p-o {
    overflow: auto;
}

/* Login */
.container-content {
    background: var(--primary-color-background);
    width: 50rem;
    height: 30rem;
    margin: 200px auto;
    border-radius: 3%;
}

.row.g-3.login {
    margin: 15px 35px;
    max-width: 200px;
}

.content-left-block {
    margin: 90px auto;
    width: 190px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.line-central {
    border: none;
    border-left: 1.5px solid hsla(200, 10%, 50%,100);
    height: 40vh;
    width: 1px;
}

.text-login {
    font-size: 2rem;
}

.content-p {
    margin: 0 auto;
    text-align: center;
}

/* Card Home - Dashboard */
.card.mb-5.home {
    width: 70%;
    max-height: 80rem;
    float: left;
}

/* Card Home - Contacts */
.card.mb-3 {
    width: 27%;
    max-height: 80rem;
    float: right;
}

.container-search-home {
    position: relative;
    width: 100%;
}

.contact-area {
    width: 100%;
    /*height: 100vh;*/
    position: relative;
  }

.contact {
    position: relative;
    max-width: 420px;
    padding: 10px 20px;
    overflow: hidden;
    margin: 0 auto;
}
    
main {
    float: left;
    /*width: 100%;*/
    position: relative;
}
      
section {
    border-radius: 5px;
    float: left;
    width: 100%;
    background-color: var(--primary-color-background-header);
}
        
.content {
    float: left;
    width: 100%;
    padding: 15px 20px 15px 20px;
    position: relative;
    text-align: center;
    display: flex;
}

.img-content {
    display: flex;
    width: 80px;
    border-radius: 50%;
    align-self: center;
}

aside {
    float: left;
    width: 100%;
    color: var(--primary-color-background);
    margin-top: 5px;
}

.h1-aside {
    font-weight: 100;
    font-size: 17px;
    margin-bottom: 10px;
}
                  
.p-aside {
    font-size: 14px;
}

.content-btn {
    display: flex;
    position: relative;
    margin: 0 auto;
    align-self: center;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
}

.btn-details {
    width: 35%;
    background-color: var(--primary-color-light-purple);
    border-radius: 3%;
}

/* Contact view */
.mb-5-contact {
    max-height: 70rem;
}

.figure-img > img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: 10px;
}