@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --primary-color-text-primary: #38184C;
    --primary-color-text-secondary: #000000;
    --primary-color-background: #ffffff;
    --primary-color-green: #1C646D;
    --primary-color-green-2: #47c77a;
    --primary-color-text-hover: #1F0802;
    --primary-color-lime: #A0CD60;
    --primary-color-cream: #f7f4eb;
    --primary-color-purple: #C66BFF;
    --primary-color-purple-2: #6B2299;
    --primary-color-purple-3: #593975;
    --primary-color-purple-4: #DEC3F7;
    --color-scroll-blue: #13293D;
    --color-scroll-blue-table: #13293d2d;
    --color-scroll-blue-1: #006494;
    --color-scroll-blue-2: #247BA0;
    --color-scroll-blue-3: #9dd4f4;
    --color-scroll-blue-4: #E8F1F2;
}

* {
    padding: 0;
    margin: 0;
    /*font-size: 1.5rem;*/
    font-family: 'Roboto', sans-serif;
    box-sizing: boder-box;
}

/* Change color table-striped */
.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: var(--color-scroll-blue-table);
}

/* color of the scroll thumb */
*::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll-blue);    /* color of the scroll thumb */
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-scroll-blue-4);    /* color of the scroll thumb */
    border-radius: 20px;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--primary-color-text-secondary);
    font-size: 1.5rem;
    background: var(--primary-color-background);
}

/* menu settings*/
.navbar-nav {
    font-size: 1.5rem;
    --bs-nav-link-hover-color: var(--primary-color-green);
    --bs-nav-link-color: var(--color-scroll-blue);
    margin: 0 auto;
}

.main-header.container {
    margin: 0 auto;
}

/* icon adjustments */
i {
    margin: 5px;
}

.btn.btn-new {
    background-color: var(--color-scroll-blue);
    color: var(--primary-color-background);
    float: right;
    width: 30px;
}

.btn.btn-new > i {
    margin: auto;
}

/* search adjustments */
.search-form {
    border: .2rem solid var(--color-scroll-blue-2);
    max-width: 80%;
    position: relative;
    border-radius: 0.5rem;
    transition: all 300ms ease-in-out;
    margin: 0 auto;
}

.container-filter {
    margin: 2rem 5rem 2rem 5rem;
    position: relative;
}

.search-form:focus-within {
    border-color: var(--color-scroll-blue-1);
    background: var(--color-scroll-blue-4);
}

.search-button:focus {
    outline: 1px solid var(--color-scroll-blue-1);
    background: rgba(0, 0, 0, .05);
}

.search-form:focus-within .fa-magnifying-glass {
    color: var(--color-scroll-blue-2);
}

.search-input,
.search-button {
    border: none;
    background: none;
    outline: none;
    padding: .7rem;
}

.search-input {
    width: 100%;
    padding-right: 3.5rem;
    margin: 0 auto;
    position: relative;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
}

.search-button:active {
    border: none;
    outline: none;
}

.fa-magnifying-glass {
    /*font-size: 2.0rem;*/
    outline: none;
    color: var(--color-scroll-blue-1);
}

/* Central container settings base.html */
.container {
    font-size: 2.2rem;
    margin-top: 1.5rem;
    margin: 0 auto;
}

.container-main {
    max-width: 95%;
    margin: 3.5rem auto;
}

.container-blank {
    margin: 70px;
}

.main-header-container {
    background: var(--primary-color-cream);
}

/*Adjustments menu left*/
/*@media screen and (min-width : 64rem) {
    .main-header-container {
        top: 0;
        left: 0;
        width: 10rem;
        position: absolute;
        background: #CEF09D;
        height: 100%;
        text-align: center;
        justify-content: center;
        font-variant: all-petite-caps;
    }

    .main-header {
        margin-top: 20rem;
    }

    body{
        border-left: 10rem solid #f7f4eb;
    }
}*/

/* Adjustments Jewel View */
.mb-5-jewel {
    display: flex;
    flex-direction: column;
    max-height: 80rem;
    margin: 1rem 0;
}

.container-dad {
    overflow-y:scroll;
}

.content-central {
    display: flex;
    justify-content: space-between;
    
}

.form-label {
    color: var(--primary-color-green);
    margin-bottom: 0;
    margin-top: 15px;
    margin-left: 10px;
}

.form-p {
    color: black;
    margin-left: 10px;
}

.table-p {
    color: black;
}

.content-left {
    display: inline-block;
}

.content-right {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.content-carousel {
    width: 600px;
}

.carousel-inner > .carousel-item > img {
    max-width: 640px;
    max-height: 480px;
    margin: 10px;
}

.carousel.slide {
    max-width: 640px;
    max-height: 480px;
    margin: 10px;
    
}

.card.mb-5.stones-view {
    margin: 5px 15px 5px 15px;
}

.card.mb-5.pearls-view {
    margin: 5px 15px 5px 15px;
}

.card.mb-5.services-view {
    margin: 5px 15px 5px 15px;
}

/* List Jewelry Adjustments */
.card.mb-5.jewel{
    max-height: 70rem;
}

hr {
    background-color: var(--color-scroll-blue);
    color: var(--color-scroll-blue);
}

.row.row-cols-4 {
    height: 60rem; 
    justify-content: space-evenly;  
}

.row.row-cols-4 > .col {
    margin-bottom: 25px;
    border-radius: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.row.row-cols-4 > .col > .card {
    border-radius: 24px;
    background-color: var(--color-scroll-blue-4);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.20);
}

.row.row-cols-4 > .col > .card > .row {
    margin: 0 auto;
}

.card-img-top {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.card-body > p {
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    overflow-y: scroll;
    height: 250px;
}

.card > a {
    margin: 0 auto;
    margin-bottom: 5px;
}

/* Card in Settings Jewelry */
.row.row-cols-3 > .col > .card > .card-body {
    overflow-y: auto;
    height: 250px;
}

.row.row-cols-3 > .col > .card {
    margin-bottom: 15px;
}

.row.row-cols-3 > .col > .card > .card-footer {
    /*background-color: #6B2299;*/
    background-size: 5px;
}

/*.add-settings {
    display: flex;
    margin-top: 270px;
    flex-direction: row;
    justify-content: center;
}*/

/*.add-settings > .row > .col.mx-auto {

}*/

/*btn generic adjustments*/
.btn {
    transition-duration: 0.4s;
}

/* Search Jewel */
.container-search-jewel {
    width: 70%;
    position: relative;
    margin: 0 auto;
}

/* Card SettingsJewel */
.card.mb-5.settings-jewel {
    max-height: 60rem;
    display: flex;
}

.row.settings-jewel {
    justify-content: space-evenly;
    padding-left: 0;
    padding-right: 0;
}


/* Card NewJewelry */
.row.g-3 {
    padding: 0.8rem;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.card.mb-5.newjewel{
    max-height: 80rem;
}

.card.mb-5.services{
    margin-top: 15px;
}

.card.mb-5.stones{
    margin-top: 15px;
}

.card.mb-5.pearls{
    margin-top: 15px;
}

.card.mb-5.metals{
    margin-top: 15px;
}

.card.mb-5.indicators{
    margin-top: 15px;
}

.card-block.p-o {
    overflow: auto;
}

/* Login */
.container-content {
    background: var(--primary-color-background);
    width: 50rem;
    height: 30rem;
    margin: 200px auto;
    border-radius: 3%;
}

.row.g-3.login {
    margin: 15px 35px;
    max-width: 200px;
}

.content-left-block {
    margin: 90px auto;
    width: 190px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.line-central {
    border: none;
    border-left: 1.5px solid hsla(200, 10%, 50%,100);
    height: 40vh;
    width: 1px;
}

.text-login {
    font-size: 2rem;
}

.content-p {
    margin: 0 auto;
    text-align: center;
}

/* Card Home - Dashboard */
.card.mb-5.home {
    width: 70%;
    max-height: 80rem;
    float: left;
    /*background-color: var(--color-scroll-blue-4);*/
}

/* Card Home - Contacts */
.card.mb-3 {
    width: 27%;
    max-height: 80rem;
    float: right;
    /*background-color: var(--color-scroll-blue-4);*/
}

.container-search-home {
    position: relative;
    width: 100%;
}

.contact-area {
    width: 100%;
    /*height: 100vh;*/
    position: relative;
  }

.contact {
    position: relative;
    max-width: 420px;
    padding: 10px 20px;
    overflow: hidden;
    margin: 0 auto;
}
    
main {
    float: left;
    width: 100%;
    position: relative;
}
      
section {
    border-radius: 5px;
    float: left;
    width: 100%;
    /*background-color: var(--primary-color-background);*/
    background-color: var(--color-scroll-blue-4);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.20);
}
        
.content {
    float: left;
    width: 100%;
    padding: 15px 20px 15px 20px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.img-content {
    display: flex;
    width: 80px;
    border-radius: 50%;
    align-self: center;
}

aside {
    float: left;
    width: 100%;
    color: var(--primary-color-green);
    margin-top: 5px;
}

.h1-aside {
    font-weight: 100;
    font-size: 17px;
    margin-bottom: 10px;
}
                  
.p-aside {
    font-size: 14px;
}

.content-btn {
    display: flex;
    position: relative;
    margin: 0 auto;
    align-self: center;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
}

.btn-details {
    width: 40%;
    background-color: var(--color-scroll-blue);
    color: var(--primary-color-background);
    border-radius: 3%;
}

.btn-details:hover {
    background-color: var(--primary-color-green);
    color: var(--primary-color-background);
}

/* Contact view */
.mb-5-contact {
    max-height: 70rem;
    margin: 1rem 0;
}

.figure-img > img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: 10px;
}