@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&display=swap');

:root {
    --primary-color-text: #38184C;
    --primary-color-background: #FFFFFA;
    --primary-color-background-footer: #1C646D;
    --primary-color-background-header: #CEF09D;
    --primary-color-text-hover: #1F0802;
    --primary-color-lime: #A0CD60;
    --primary-color-cream: #f7f4eb;
    --primary-color-light-purple: #C66BFF;
    --primary-color-purple-second: #6B2299;
}

* {
    padding: 0;
    margin: 0;
    /*font-size: 1.5rem;*/
    font-family: 'Inter Tight', sans-serif;
    box-sizing: boder-box;
    color: var(--primary-color-text);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    background: var(--primary-color-cream);
}

/* menu settings*/
.nav {
    font-size: 1.5rem;
    --bs-nav-link-hover-color: var(--primary-color-text-hover);
    margin: 1rem;
}

/* icon adjustments */
i {
    margin: 5px;
}

/* unvisited link */
a:link {
    color: var(--primary-color-text);
}

/* visited link */
a:visited {
    color: var(--primary-color-text);
}

/* mouse over link */
a:hover {
    color: var(--primary-color-text-hover);
}

/* selected link */
a:active {
    color: var(--primary-color-text);
}

/* search adjustments */
.search-form {
    border: .2rem solid var(--primary-color-text);
    max-width: 65rem;
    position: relative;
    margin: 5rem auto;
    border-radius: 0.5rem;
    transition: all 300ms ease-in-out;
}

.search-form:focus-within {
    border-color: #A0CD60;
    background: #ddd;
}

.search-button:focus {
    outline: 1px solid var(--primary-color-background-header);
    background: rgba(0, 0, 0, .05);
}

.search-form:focus-within .fa-magnifying-glass {
    color: #A0CD60;

}

.search-input,
.search-button {
    border: none;
    background: none;
    outline: none;
    padding: .7rem;

}

.search-input {
    width: 100%;
    padding-right: 3.5rem;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
}

.search-button:active {
    border: none;
    outline: none;
}

.fa-magnifying-glass {
    font-size: 2.0rem;
    outline: none;
}

/*central container settings*/
.container {
    font-size: 2.2rem;
    margin-top: 1.5rem;
    --bs-nav-link-hover-color: var(--primary-color-text-hover);
    margin: 0 auto;
}

.container-main {
    max-width: 95%;
    margin: 3.5rem auto;
}

.main-header-container {
    background: var(--primary-color-cream);
}

/*Adjustments menu left*/
/*@media screen and (min-width : 64rem) {
    .main-header-container {
        top: 0;
        left: 0;
        width: 10rem;
        position: absolute;
        background: #CEF09D;
        height: 100%;
        text-align: center;
        justify-content: center;
        font-variant: all-petite-caps;
    }

    .main-header {
        margin-top: 20rem;
    }

    body{
        border-left: 10rem solid #f7f4eb;
    }
}*/

/*Fixed top table*/
.table-striped thead th {
    position: sticky;
    top: 0;
}

/*table list jewelry adjustments*/
.table-striped {
    border-radius: 1rem;
    font-size: 1.5rem;
}

#data_jewel th {
    background-color: var(--primary-color-background-header);
}

img {
    height: 100%;
    width: 100%;
}

#data_jewel tr:hover {
    background-color: #ddd;
}

thead {
    background-color: var(--primary-color-background-header);
}

/*btn generic adjustments*/
.btn {
    transition-duration: 0.4s;
}

/*popover adjustments*/
.popover-body {
    font-size: 1.5rem;
    background-color: beige;
    width: 100%;
    height: 100%;
}

.popover-header {
    width: 100%;
}

.custom-popover {
    --bs-popover-max-width: 35rem;
    --bs-popover-border-color: var(--primary-color-text);
    --bs-popover-header-bg: var(--primary-color-text);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
    --bs-popover-header-font-size: 1.5rem;
}

.btn_info {
    font-size: 1.2rem;
    background-color: var(--primary-color-background-header);
}

.btn_info:hover {
    background-color: var(--primary-color-lime);
}

/*Table Workshop adjustments*/


/*Table list services newjewelry*/


/*Card NewJewelry*/
.row.g-3 {
    padding: 0.8rem;
}

.card.mb-5.jewel{
    max-height: 45rem;
    overflow-y:scroll;
}

.card.mb-5.workshop{
    overflow-y:scroll;
}

.card.mb-5.stone{
    overflow-y:scroll;
}

/*Card Home*/
.card.mb-3 {
    width: 25%;
    height: 50rem;
    float: right;
}

.card.mb-5.home {
    width: 70%;
    height: 50rem;
    float: left;
}

.contact-area {
    width: 100%;
    height: 100vh;
    position: relative;
  }

.contact {
    position: relative;
    max-width: 420px;
    padding: 40px 20px;
    overflow: hidden;
    margin: 0 auto;
}
    
main {
    float: left;
    width: 100%;
    position: relative;
}
      
section {
    border-radius: 5px;
    float: left;
    width: 100%;
    background-color: var(--primary-color-background-header);
}
        
.content {
    float: left;
    width: 100%;
    padding: 20px 30px 50px 30px;
    position: relative;
    text-align: center;
    display: flex;
}

.img-content {
    display: flex;
    width: 70px;
    border-radius: 50%;
}

aside {
    float: left;
    width: 100%;
    color: var(--primary-color-background);
    margin-top: 5px;
}


.h1-aside {
    font-weight: 100;
    font-size: 17px;
    margin-bottom: 10px;
}
                  
.p-aside {
    font-size: 14px;
}
