{% include 'jewelry/partials/head.html' %}

<body>
    {% include 'jewelry/partials/header.html' %}
    <main class="container-fluid">
        {% block content %}{% endblock content %}
    </main>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <!-- Include footer -->
    {% include 'jewelry/partials/footer.html' %}
</body>

</html>