{% extends 'base.html' %}

{% block content %}
<div class="container-main">
    <div class="card mb-5 home">
        <div class="card-header"><i class="fa-solid fa-grid-horizontal"></i>Dashboard</div>
        <span>teste teste </span>
    </div>
    <div class="card mb-3">
        <div class="card-header"><i class="fa-solid fa-address-card"></i>Contact</div>
        <div class="contact-area">
        <div class="contacts">
            <main>
                <section>
                    <div class="content">
                        <img class="img-content" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/256492/_mLIxaKY_400x400.jpg"
                            alt="Profile Image">

                        <aside>
                            <h1 class="h1-aside">Riccardo Cavallo</h1>
                            <p class="p-aside">+351 926542907</p>
                        </aside>
                    </div>
                </section>
            </main>
        </div>
    </div>
</div>

</div>
{% endblock content %}