{% extends 'base.html' %}

{% block content %}
<div class="container-main">
    <div class="card mb-5 home">
        <div class="card-header"><i class="fa-solid fa-grid-horizontal"></i>Dashboard</div>
        <span>teste teste </span>
    </div>
    <div class="card mb-3">
        <div class="card-header"><i class="fa-solid fa-address-card"></i>Contact</div>
        <div class="container-search-home">
            {% include 'jewelry/partials/search.html' %} 
        </div>
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
            {% include 'jewelry/partials/cardcontact.html' %}
</div>

</div>
{% endblock content %}