{% extends 'base.html' %}

{% block content %}
<div class="container-blank"></div>
<div class="container-main">
    <div class="card mb-5 home">
        <div class="card-header"><i class="fa-solid fa-chart-network"></i>Dashboard</div>
        <div class="container-dad">
        <span>teste t </span>
    </div>
    </div>
    <div class="card mb-3">
        <div class="card-header"><i class="fa-solid fa-circle-user"></i>Contact <a href=" {% url 'jewelry:new-contact' %} "><button class="btn btn-functions" arialabel="newcontact"><i class="fa-solid fa-plus"></i>New Contact</button></a></div>
        <div class="container-dad">
        <div class="container-search-home">
            {% include 'jewelry/partials/search.html' %} 
        </div>   
            {% if search_term == none %}  
                {% for contact in contacts %}
                    {% include 'jewelry/partials/card_contact.html' %}
                {% endfor %}
            {% else %}
                {% for contact in contacts_filters %}
                    {% include 'jewelry/partials/card_contact.html' %}
                {% endfor %}
            {% endif %} 
        </div>
        </div>
    
</div>
{% endblock content %}