{% extends 'base.html' %}

{% block content %}
<div class="container-blank"></div>
        <div class="container-search-jewel">
            {% include 'jewelry/partials/search.html' %}                
        </div>
        <div class="container-main">
            <hr>
            <div class="container-buttons">
                <a href=" {% url 'jewelry:new-jewel' %} "><button class="btn btn-functions" arialabel="newjewel"><i class="fa-solid fa-plus"></i>New Jewel</button></a>
                <a href=" {% url 'jewelry:settings-jewel' %} "><button class="btn btn-functions" arialabel="settingsjewel"><i class="fa-solid fa-gear"></i>Settings Jewel</button></a>
                <button class="btn btn-functions" arialabel="filterjewel"><i class="fa-solid fa-filter"></i>Filter Jewel</button>
            </div>
            <!--{% include 'jewelry/partials/table.html' %}-->
            {% include 'jewelry/partials/card_jewel.html' %}

        </div>

    <!-- JavaScript for popover -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (element) {
                return new bootstrap.Popover(element);
            });
        });    
    </script>

{% endblock content %}