{% extends 'base.html' %}

{% block content %}
        {% include 'jewelry/partials/search.html' %}                
        <div class="table-responsive">
            {% include 'jewelry/partials/table.html' %} 
        </div>
    <!-- JavaScript for popover -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (element) {
                return new bootstrap.Popover(element);
            });
        });    
    </script>
{% endblock content %}