{% extends 'base.html' %}

{% block content %}
<div class="container-blank"></div>
<div class="container-main">
  <div class="card mb-5-jewel">
    <div class="card-header"><i class="fa-solid fa-ring"></i>Jewel</div>
    <div class="container-dad">
    <div class="content-central">
      <div class="content-left">
        <div class="row g-3">
          <div class="col-md-4">
            <label for="inputProductName" class="form-label">Product Name</label>
            <p class="form-p"> {{ jewel.name }} </p>
          </div>
          <div class="col-md-2">
            <label for="inputProductCode" class="form-label">Code</label>
            <p class="form-p"> #{{ jewel.code }} </p>
          </div>
          <div class="col-md-2">
            <label for="inputCategory" class="form-label">Category</label>
            <p class="form-p"> {{ jewel.category }} </p>
          </div>
          <div class="col-md-2">
            <label for="inputModel" class="form-label">Model</label>
            <p class="form-p"> {{ jewel.models }} </p>
          </div>
          <div class="col-md-2">
            <label for="inputGenre" class="form-label">Genre</label>
            <p class="form-p"> {{ jewel.genre }} </p>
          </div>
          <div class="col-md-2">
            <label for="inputWeight" class="form-label">Weight</label>
            <p class="form-p"> {{ jewel.weight }} gr</p>
          </div>
          <div class="col-md-2">
            <label for="inputLength" class="form-label">Length</label>
            <p class="form-p"> {{ jewel.length }} mm</p>
          </div>
          <div class="col-md-2">
            <label for="inputWidth" class="form-label">Width</label>
            <p class="form-p"> {{ jewel.width }} mm</p>
          </div>
          <div class="col-md-2">
            <label for="inputHeight" class="form-label">Height</label>
            <p class="form-p"> {{ jewel.height }} mm</p>
          </div>
          <div class="col-md-2">
            <label for="inputThickness" class="form-label">Thickness</label>
            <p class="form-p"> {{ jewel.thickness }} mm</p>
          </div>
          <div class="col-md-2">
            <label for="inputMetal" class="form-label">Metal</label>
            <p class="form-p"> {{ jewel.metal }} </p>
          </div>
        </div>
        
      </div>
      <div class="content-right">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://picsum.photos/1920/1080" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://picsum.photos/1920/1080" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://picsum.photos/1920/1080" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      
  </div>
  <div class="container-tables">
    <div class="card mb-5 stones-view">
        <div class="card-header"><i class="fa-solid fa-gem"></i>Stones</div>
        <div class="card-block p-0">
            <table class="table table-striped table-definition mb-5">
                <thead>
                    <tr>
                        <th>Types</th>
                        <th>Origin</th>
                        <th>Amount</th>
                        <th>Size</th>
                        <th>Carat(ct)</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <p class="table-p"> {{ jewel.stones.types }} </p>
                    </td>
                    <td>
                      <p class="table-p"> {{ jewel.stones.origin }} </p>
                    </td>
                    <td>
                      <p class="table-p"> {{ jewel.stones.amount }} </p>
                    </td>
                    <td>
                      <p class="table-p"> {{ jewel.stones.size }} mm</p>
                    </td>
                    <td>
                      <p class="table-p"> {{ jewel.stones.caract }} ct</p>
                    </td>
                    <td>
                      <p class="table-p">R$ {{ jewel.stones.value|floatformat:"2g" }} </p>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="card mb-5 pearls-view">
      <div class="card-header"><i class="fa-solid fa-droplet"></i>Pearls</div>
      <div class="card-block p-0">
          <table class="table table-striped table-definition mb-5">
              <thead>
                  <tr>
                      <th>Types</th>
                      <th>Amount</th>
                      <th>Size</th>
                      <th>Color</th>
                      <th>Origin</th>
                      <th>Value</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>
                        <p class="table-p"> {{ jewel.pearls.types }} </p>
                      </td>
                      <td>
                        <p class="table-p"> {{ jewel.pearls.amount }} </p>
                      </td>
                      <td>
                        <p class="table-p"> {{ jewel.pearls.size }} mm</p>
                      </td>
                      <td>
                        <p class="table-p"> {{ jewel.pearls.color }} </p>                            
                      </td>
                      <td>
                        <p class="table-p"> {{ jewel.pearls.origin }} </p>
                      </td>
                      <td>
                        <p class="table-p">R$ {{ jewel.pearls.value|floatformat:"2g" }} </p>
                      </td>
                  </tr>
              </tbody>
            </table>
        </div>
      </div>
      <div class="card mb-5 services-view">
        <div class="card-header"><i class="fa-solid fa-clipboard"></i>Services</div>
        <div class="card-block p-0">
            <table class="table table-striped table-definition mb-5">
                <thead>
                    <tr>
                        <th>Metal/Stones/Pearls</th>
                        <th>Provider</th>
                        <th>Service</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      
                        <td>
                          <p class="table-p"> {{ jewel.services.metal_stones_pearls }} </p>  
                        </td>
                        <td>
                          <p class="table-p"> {{ jewel.services.provider }} </p>
                        </td>
                        <td>
                          <p class="table-p"> {{ jewel.services.service }} </p>
                        </td>
                        <td>
                          <p class="table-p">R$ {{ jewel.services.value|floatformat:"2g" }} </p>
                        </td>
                        
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div> 
</div>
  {% endblock %}