{% extends 'base.html' %}

{% block content %}
<div class="container-blank"></div>
<div class="container-main">
<div class="card mb-5 settings-jewel">
    <div class="card-header"><i class="fa-solid fa-wrench"></i>Settings Jewel</div>
    <div class="container-dad">
    <br>
    <div class="row settings-jewel"> 
    <div class="card mb-5 category" style="width: 40rem;">
        <div class="card-header">Category</div>
        <div class="card-block">
            <table class="table table-striped table-definition mb-5">
                <thead>
                    <tr>
                        <th></th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>                    
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputAmount">
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th colspan="2">
                            <button class="btn btn-primary float-right">Add</button>
                            <button class="btn btn-default">Edit</button>
                            <button class="btn btn-default">Remove</button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <form action="" method="post">
        {% csrf_token %}
            {{ form.label.fine_gold }}
            {{ form.fine_gold }}
        <input type="submit" value="Save">
            {{ form.parallel_dollar }} 
        <input type="submit" value="Save">
    </form>
    <div class="card mb-5 models" style="width: 40rem;">
        <div class="card-header">Models</div>
        <div class="card-block p-0">
            <table class="table table-striped table-definition mb-5">
                <thead>
                    <tr>
                        <th></th>
                        <th>Category</th>
                        <th>Models</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td>
                            <select id="inputCategory" class="form-select">
                                <option value="" selected>Choose...</option>
                                <option value="Ring">Ring</option>
                                <option value="Earring">Earring</option>
                                <option value="Necklace">Necklace</option>
                            </select>
                        </td>                    
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputModels">
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th colspan="2">
                            <button class="btn btn-primary float-right">Add</button>
                            <button class="btn btn-default">Edit</button>
                            <button class="btn btn-default">Remove</button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="card mb-5 stones" style="width: 40rem;">
        <div class="card-header">Stones</div>
        <div class="card-block p-0">
            <table class="table table-striped table-definition mb-5">
                <thead>
                    <tr>
                        <th></th>
                        <th>Stones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>                    
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputStones">
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th colspan="2">
                            <button class="btn btn-primary float-right">Add</button>
                            <button class="btn btn-default">Edit</button>
                            <button class="btn btn-default">Remove</button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="card mb-5 pearls" style="width: 40rem;">
        <div class="card-header">Pearls</div>
        <div class="card-block p-0">
            <table class="table table-striped table-definition mb-5">
                <thead>
                    <tr>
                        <th></th>
                        <th>Pearls</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>                    
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputPearls">
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th colspan="2">
                            <button class="btn btn-primary float-right">Add</button>
                            <button class="btn btn-default">Edit</button>
                            <button class="btn btn-default">Remove</button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="card mb-5 metals" style="width: 40rem;">
        <div class="card-header">Metals</div>
        <div class="card-block p-0">
            <table class="table table-striped table-definition mb-5">
                <thead>
                    <tr>
                        <th></th>
                        <th>Metals</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>                    
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputMetals">
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th colspan="2">
                            <button class="btn btn-primary float-right">Add</button>
                            <button class="btn btn-default">Edit</button>
                            <button class="btn btn-default">Remove</button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="card mb-5 indicators" style="width: 40rem;">
        <div class="card-header">Indicators</div>
        <div class="card-block p-0">
            <table class="table table-striped table-definition mb-5">
                <thead>
                    <tr>
                        <th></th>
                        <th>Fine Gold</th>
                        <th>Parallel Dollar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>                    
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputFineGold">
                        </td>
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputParallelDollar">
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th colspan="2">
                            <button class="btn btn-primary float-right">Add</button>
                            <button class="btn btn-default">Edit</button>
                            <button class="btn btn-default">Remove</button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock content %}