<div class="contact-area">
    <div class="contact">
        <main>
            <section>
                <div class="content">
                    <img class="img-content"
                        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/256492/_mLIxaKY_400x400.jpg"
                        alt="Profile Image">

                    <aside>
                        <h1 class="h1-aside">Riccardo Cavallo</h1>
                        <p class="p-aside">+351 926542907</p>
                    </aside>
                </div>
                <div class="content-btn">
                    <button class="btn btn-details" href="#">Details...</button>
                </div>
            </section>
        </main>
    </div>
</div>