<div class="contact-area">
    <div class="contact">
        <main>
            <section>
                <div class="content">
                    {% if contact.image_contact %}
                    <img class="img-content"
                        src=" {{ contact.image_contact.url }} "
                        alt="Profile Image">
                        {% endif %}
                    <aside>
                        <h1 class="h1-aside"><i class="fa-solid fa-circle-user"></i>{{contact.first_name}} {{contact.last_name}}</h1>
                        <p class="p-aside"><i class="fa-solid fa-phone"></i>+55 {{contact.mobile}}</p>
                        <p class="p-aside"><i class="fa-solid fa-envelope"></i>{{contact.email}}</p>
                    </aside>
                </div>
                <div class="content-btn">
                    <a href=" {% url 'jewelry:contact' contact.id %} " class="btn btn-details">Details</a>
                </div>
            </section>
        </main>
    </div>
</div>