<div class="container-card-jewelry">
    <div class="row row-cols-4">
        {% for jewel in jewelry %}
        <div class='col'>
            <div class="card">
                <img src="{{jewel.cover.url}}" class="card-img-top" alt="{{jewel.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{jewel.name}}</h5>
                    <p class="card-text">{{jewel.note}}.</p>
                </div>
                <i class="fa-sharp fa-solid fa-ring"></i>
                <link type="image/png" sizes="16x16" rel="icon" href=".../icons8-pearl-16.png">
                <a href="{% url 'jewelry:jewel' jewel.id %}" class="btn btn-primary">Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>