<div class="container-card-jewelry">
    <div class="row row-cols-4">
        {% for jewel in jewelry %}
        <div class='col'>
            <div class="card">
                <img src="{{jewel.cover.url}}" class="card-img-top" alt="{{jewel.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{jewel.name}}</h5>
                    <p class="card-text">{{jewel.note}}.</p>
                </div>
                <div class="row">
                    <div class="col">
                        <i class="fa-sharp fa-solid fa-ring"></i>
                    </div>
                    <div class="col">
                        <i class="fa-sharp fa-solid fa-ring"></i>
                    </div>
                    <div class="col">
                        <i class="fa-sharp fa-solid fa-ring"></i>
                    </div>
                    <div class="col">
                        <i class="fa-sharp fa-solid fa-ring"></i>
                    </div>
                </div>
                <a href="{% url 'jewelry:jewel' jewel.id %}" class="btn btn-details">Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>