<div class="col">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    Categorys <a href=" {% url 'jewelry:new-category-settings' %} "><button class="btn btn-new" arialabel="newcategory"><i class="fa-solid fa-plus"></i></button></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-category">
                <table class="table table-sm table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Categorys</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for category in category_jewelry %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td>
                                <a href="{% url 'jewelry:update-category-settings' category.id %}" class="btn btn-warning"
                                    arialabel="update-category"><i class="fa-solid fa-rotate-right"></i>Update</a>
                                <a href="{% url 'jewelry:delete-category-settings' category.id %}" class="btn btn-danger"
                                    arialabel="delete-category"><i class="fa-solid fa-trash"></i>Remove</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
</div>
