<div class="form-category">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropCreateCategory">
        Adicionar Categorias
    </button>
</div>
<div class="table-category">
    <table class="table table-sm table-hover text-center" style="width: 40%;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Categorys</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for category in category_jewelry %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editCategory{{category.id}}">
                        Atualizar Categorias
                    </button>
                    <a href="{% url 'jewelry:update-category' category.id %}" class="btn btn-secondary" arialabel="update-contact"><i class="fa-solid fa-rotate-right"></i>Update</a>
                    <a href="{% url 'jewelry:delete-category' category.id %}" class="btn btn-danger" arialabel="delete-contact"><i class="fa-solid fa-trash"></i>Remove</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- Modal Create Indicators -->
{% include 'jewelry/partials/add_indicators.html' %}
{% include 'jewelry/partials/update_indicators.html' %}

