<div class="col-md-6">
    <div id="carouselJewel" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselJewel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselJewel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselJewel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://cdn0.casamentos.pt/cat/566151--mfvo566151.jpg" class="d-block w-30" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/glamira/image/upload/c_limit,c_fill,dpr_1.0,f_auto,fl_lossy,q_auto/media/product/newgeneration/view/1/sku/8085/womenstone/diamond-zirconia_AAAAA/alloycolour/white.jpg" class="d-block w-30" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.tcdn.com.br/img/img_prod/932431/anel_solitario_memories_prata_1213_1_06e4a13d6f1e42521a4cabd5fc1b6900.jpg" class="d-block w-30" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselJewel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselJewel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    {% extends 'base.html' %}

{% block content %}
<div class="container-blank"></div>
<div class="card mb-5">
    <div class="card-header"><i class="fa-solid fa-ring"></i>Jewel</div>
    <div class="row g-3">
        <div class="col-md-4">
            <label for="inputProductName" class="form-label">Product Name:</label>
            <p> {{ jewel.name }} </p>
        </div>
        <div class="col-md-1">
            <label for="inputProductCode" class="form-label">Code</label>
            <p> #{{ jewel.code }} </p>
        </div>
        <div class="col-sm-1">
            <label for="inputCategory" class="form-label">Category</label>
            <p> {{ jewel.category }} </p>
        </div>
        <div class="col-md-1">
            <label for="inputModel" class="form-label">Model</label>
            <p> {{ jewel.model }} </p>
        </div>
        <div class="col-md-1">
            <label for="inputGenre" class="form-label">Genre</label>
            <p> {{ jewel.genre }} </p>
        </div>
        <div class="col-md-1">
            <label for="inputWeight" class="form-label">Weight</label>
            <p> {{ jewel.weight }} gr</p>
        </div>
        <div class="col-md-1">
            <label for="inputLength" class="form-label">Length</label>
            <p> {{ jewel.length }} mm</p>
        </div>
        <div class="col-md-1">
            <label for="inputWidth" class="form-label">Width</label>
            <p> {{ jewel.width }} mm</p>
        </div>
        <div class="col-md-1">
            <label for="inputHeight" class="form-label">Height</label>
            <p> {{ jewel.height }} mm</p>
        </div>
        <div class="col-md-2">
            <label for="inputThickness" class="form-label">Thickness</label>
            <p> {{ jewel.thickness }} mm</p>
        </div>
        <div class="col-md-1">
            <label for="inputMetal" class="form-label">Metal</label>
            <p> {{ jewel.metal }} </p>
        </div>
    </div>
            <div class="col-md-3">
                <div id="carouselJewel" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselJewel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselJewel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselJewel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://cdn0.casamentos.pt/cat/566151--mfvo566151.jpg" class="d-block w-30" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://res.cloudinary.com/glamira/image/upload/c_limit,c_fill,dpr_1.0,f_auto,fl_lossy,q_auto/media/product/newgeneration/view/1/sku/8085/womenstone/diamond-zirconia_AAAAA/alloycolour/white.jpg" class="d-block w-30" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://images.tcdn.com.br/img/img_prod/932431/anel_solitario_memories_prata_1213_1_06e4a13d6f1e42521a4cabd5fc1b6900.jpg" class="d-block w-30" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselJewel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselJewel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
        
        
          <div class="col-md-6">
        <div class="card mb-5 stones">
            <div class="card-header"><i class="fa-solid fa-gem"></i>Stones</div>
            <div class="card-block p-0">
                <table class="table table-striped table-definition mb-5">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Types</th>
                            <th>Amount</th>
                            <th>Size</th>
                            <th>Carat(ct)</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td>
                                <p> {{ jewel.stones.types }} </p>
                            </td>
                            <td>
                                <p> {{ jewel.stones.amount }} </p>
                            </td>
                            <td>
                                <p> {{ jewel.stones.size }} mm</p>
                            </td>
                            <td>
                                <p> {{ jewel.stones.carat }} ct</p>
                            </td>
                            <td>
                                <p>R$ {{ jewel.stones.value|floatformat:"2g" }} </p>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th colspan="2">
                                <button class="btn btn-primary float-right">Add</button>
                                <button class="btn btn-default">Edit</button>
                                <button class="btn btn-default">Remove</button>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-5 pearls">
            <div class="card-header"><i class="fa-solid fa-droplet"></i>Pearls</div>
            <div class="card-block p-0">
                <table class="table table-striped table-definition mb-5">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Types</th>
                            <th>Amount</th>
                            <th>Size</th>
                            <th>Color</th>
                            <th>Origin</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td>
                                <select class="form-select">
                                    <option value="" selected>Choose...</option>
                                    <option value="White Pearl">White Pearl</option>
                                    <option value="Pink Pearl">Pink Pearl</option>
                                    <option value="Black Pearl">Black Pearl</option>
                                    <option value="Diamond">Diamond</option>
                                    <option value="Ruby">Ruby</option>
                                    <option value="Emerald">Emerald</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" autocomplete="off" class="form-control" id="inputAmount">
                            </td>
                            <td>
                                <input type="text" autocomplete="off" class="form-control" id="inputSize">
                            </td>
                            <td>
                                <select class="form-select">
                                    <option value="" selected>Choose...</option>
                                    <option value="White">White</option>
                                    <option value="Beige">Beige</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select">
                                    <option value="" selected>Choose...</option>
                                    <option value="Japanese">Japanese</option>
                                    <option value="Chinese">Chinese</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" autocomplete="off" class="form-control" id="inputValue">
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th colspan="2">
                                <button class="btn btn-primary float-right">Add</button>
                                <button class="btn btn-default">Edit</button>
                                <button class="btn btn-default">Remove</button>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-5 services">
            <div class="card-header"><i class="fa-solid fa-clipboard"></i>Services</div>
            <div class="card-block p-0">
                <table class="table table-striped table-definition mb-5">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Metal/Stones/Pearls</th>
                            <th>Provider</th>
                            <th>Service</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </td>
                            <td>
                                <select class="form-select">
                                    <option value="" selected>Choose...</option>
                                    <option value="Metal">Metal</option>
                                    <option value="StonesPearls">Stones/Pearls</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select">
                                    <option value="" selected>Choose...</option>
                                    <option value="Provider1">Provider1</option>
                                    <option value="Provider2">Provider2</option>
                                    <option value="Provider3">Provider3</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select">
                                    <option value="" selected>Choose...</option>
                                    <option value="Service1">Service1</option>
                                    <option value="Service2">Service2</option>
                                    <option value="Service3">Service3</option>
                                    <option value="Service4">Service4</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" autocomplete="off" class="form-control" id="inputWeight">
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th colspan="2">
                                <button class="btn btn-primary float-right">Add Service</button>
                                <button class="btn btn-default">Edit</button>
                                <button class="btn btn-default">Remove</button>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
        <div class="notes-col-mb-3">
            <label for="inputNotes" class="form-label"><i class="fa-solid fa-notes"></i>Notes</label>
            <textarea class="form-control" id="inputNotes" rows="13"> {{ jewel.note }} </textarea>
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <div class="col-1">
            <button type="reset" class="btn btn-danger">Cancel</button>
        </div>
    </div>
</div>     
{% endblock %}