<div class="card mb-5">
    <div class="card-header"><i class="fa-solid fa-ring"></i>New Jewel</div>
<form class="row g-3">
    <div class="col-md-5">
        <label for="inputProduct" class="form-label">Product</label>
        <input type="text" class="form-control" id="inputProduct">
    </div>
    <div class="col-md-1">
        <label for="inputProductCode" class="form-label">Code</label>
        <input type="text" class="form-control" id="inputProductCode">
    </div>
    <div class="col-sm-1">
        <label for="inputCategory" class="form-label">Category</label>
        <select id="inputCategory" class="form-select">
            <option value="" selected>Choose...</option>
            <option value="Ring">Ring</option>
            <option value="Earring">Earring</option>
            <option value="Necklace">Necklace</option>
            <option value="Bracelet">Bracelet</option>
            <option value="Alliance">Alliance</option>
            <option value="1/2_Alliance">1/2 Alliance</option>
        </select>
    </div>
    <div class="col-md-2">
        <label for="inputModel" class="form-label">Model</label>
        <input type="text" class="form-control" id="inputModel" placeholder="1234 Main St">
    </div>
    <div class="col-md-1">
        <label for="inputGenre" class="form-label">Genre</label>
        <select id="inputCategory" class="form-select">
            <option value="" selected>Choose...</option>
            <option value="Man">Man</option>
            <option value="Women">Women</option>
            <option value="Unisex">Unisex</option>
        </select>
    </div>
    <div class="col-md-1">
        <label for="inputWeight" class="form-label">Weight</label>
        <input type="text" class="form-control" id="inputWeight">
    </div>
    <div class="col-md-1">
        <label for="inputSIUnit" class="form-label">SI Unit</label>
        <select id="inputSIUnit" class="form-select">
            <option value="" selected>Choose...</option>
            <option value="18K">18K</option>
            <option value="Ouro 750">Ouro 750</option>
            <option value="gr">gr</option>
            <option value="mg">mg</option>
            <option value="ct">ct</option>
            <option value="pontos">pontos</option>
            <option value="mm">mm</option>
        </select>
    </div>
    <div class="col-md-1">
        <label for="inputLength" class="form-label">Length</label>
        <input type="text" class="form-control" id="inputLength">
    </div>
    <div class="col-md-1">
        <label for="inputSIUnit" class="form-label">SI Unit</label>
        <select id="inputSIUnit" class="form-select">
            <option value="" selected>Choose...</option>
            <option value="18K">18K</option>
            <option value="Ouro 750">Ouro 750</option>
            <option value="gr">gr</option>
            <option value="mg">mg</option>
            <option value="ct">ct</option>
            <option value="pontos">pontos</option>
            <option value="mm">mm</option>
        </select>
    </div>
    <div class="col-md-1">
        <label for="inputWidth" class="form-label">Width</label>
        <input type="text" class="form-control" id="inputWidth">
    </div>
    <div class="col-md-1">
        <label for="inputSIUnit" class="form-label">SI Unit</label>
        <select id="inputSIUnit" class="form-select">
            <option value="" selected>Choose...</option>
            <option value="18K">18K</option>
            <option value="Ouro 750">Ouro 750</option>
            <option value="gr">gr</option>
            <option value="mg">mg</option>
            <option value="ct">ct</option>
            <option value="pontos">pontos</option>
            <option value="mm">mm</option>
        </select>
    </div>
    <div class="col-md-1">
        <label for="inputHeight" class="form-label">Height</label>
        <input type="text" class="form-control" id="inputHeight">
    </div>
    <div class="col-md-1">
        <label for="inputSIUnit" class="form-label">SI Unit</label>
        <select id="inputSIUnit" class="form-select">
            <option value="" selected>Choose...</option>
            <option value="18K">18K</option>
            <option value="Ouro 750">Ouro 750</option>
            <option value="gr">gr</option>
            <option value="mg">mg</option>
            <option value="ct">ct</option>
            <option value="pontos">pontos</option>
            <option value="mm">mm</option>
        </select>
    </div>
    <div class="col-md-1">
        <label for="inputThickness" class="form-label">Thickness</label>
        <input type="text" class="form-control" id="inputThickness">
    </div>
    <div class="col-md-1">
        <label for="inputSIUnit" class="form-label">SI Unit</label>
        <select id="inputSIUnit" class="form-select">
            <option value="" selected>Choose...</option>
            <option value="18K">18K</option>
            <option value="Ouro 750">Ouro 750</option>
            <option value="gr">gr</option>
            <option value="mg">mg</option>
            <option value="ct">ct</option>
            <option value="pontos">pontos</option>
            <option value="mm">mm</option>
        </select>
    </div>
    <div class="col-md-2">
        <label for="inputMetal" class="form-label">Metal</label>
        <select id="inputMetal" class="form-select">
            <option value="" selected>Choose...</option>
            <option value="Ouro 750 Amarelo">Ouro 750 Amarelo</option>
            <option value="Ouro 750 Branco">Ouro 750 Branco</option>
            <option value="Ouro 750 Rose">Ouro 750 Rose</option>
            <option value="Ouro 750 A/B/R">Ouro 750 A/B/R</option>
            <option value="Ouro 750 A/B">Ouro 750 A/B</option>
            <option value="Ouro 750 A/R">Ouro 750 A/R</option>
            <option value="Ouro 750 B/R">Ouro 750 B/R</option>
        </select>
    </div>
    <div class="col-md-2">
        <label for="inputImage" class="form-label">Image</label>
        <input type="file" class="form-control" id="inputImage">
    </div>
    <div class="card mb-5 stone">
        <div class="card-header"><i class="fa-solid fa-gem"></i>Stones/Pearl</div>
        <div class="card-block p-0">
            <table class="table table-striped table-definition mb-5">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Registration Date</th>
                        <th>E-mail address</th>
                        <th>Premium Plan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td>John Lilki</td>
                        <td>September 14, 2013</td>
                        <td>jhlilk22@yahoo.com</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td>John Lilki</td>
                        <td>September 14, 2013</td>
                        <td>jhlilk22@yahoo.com</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td>John Lilki</td>
                        <td>September 14, 2013</td>
                        <td>jhlilk22@yahoo.com</td>
                        <td>No</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th colspan="2">
                            <button class="btn btn-primary float-right">Add</button>
                            <button class="btn btn-default">Edit</button>
                            <button class="btn btn-default">Remove</button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div id="carouselJewel" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselJewel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselJewel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselJewel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://cdn0.casamentos.pt/cat/566151--mfvo566151.jpg" class="d-block w-30" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/glamira/image/upload/c_limit,c_fill,dpr_1.0,f_auto,fl_lossy,q_auto/media/product/newgeneration/view/1/sku/8085/womenstone/diamond-zirconia_AAAAA/alloycolour/white.jpg" class="d-block w-30" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.tcdn.com.br/img/img_prod/932431/anel_solitario_memories_prata_1213_1_06e4a13d6f1e42521a4cabd5fc1b6900.jpg" class="d-block w-30" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselJewel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselJewel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <div class="card mb-5 services">
        <div class="card-header"><i class="fa-solid fa-clipboard"></i>Services</div>
        <div class="card-block p-0">
            <table class="table table-striped table-definition mb-5">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Registration Date</th>
                        <th>E-mail address</th>
                        <th>Premium Plan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td>John Lilki</td>
                        <td>September 14, 2013</td>
                        <td>jhlilk22@yahoo.com</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td>John Lilki</td>
                        <td>September 14, 2013</td>
                        <td>jhlilk22@yahoo.com</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td>John Lilki</td>
                        <td>September 14, 2013</td>
                        <td>jhlilk22@yahoo.com</td>
                        <td>No</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th colspan="2">
                            <button class="btn btn-primary float-right">Add Service</button>
                            <button class="btn btn-default">Edit</button>
                            <button class="btn btn-default">Remove</button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="notes-col-mb-3">
        <label for="inputNotes" class="form-label"><i class="fa-regular fa-note"></i>Notes</label>
        <textarea class="form-control" id="inputNotes" rows="13"></textarea>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
</div>