<div class="card mb-5 newjewel">
    <div class="card-header"><i class="fa-solid fa-ring"></i>New Jewel</div>
    <div class="container-dad">
    <form class="row g-3">
    <div class="col-md-4">
        <label for="inputProductName" class="form-label">Product Name</label>
        <input type="text" class="form-control" id="inputProductName">
    </div>
    <div class="col-md-1">
        <label for="inputProductCode" class="form-label">Code</label>
        <input type="text" class="form-control" id="inputProductCode">
    </div>
    <div class="col-sm-1">
        <label for="inputCategory" class="form-label">Category</label>
        <select id="inputCategory" class="form-select">
            <option value="" selected>Choose...</option>
            <option value="Ring">Ring</option>
            <option value="Earring">Earring</option>
            <option value="Necklace">Necklace</option>
            <option value="Bracelet">Bracelet</option>
            <option value="Alliance">Alliance</option>
            <option value="1/2_Alliance">1/2 Alliance</option>
        </select>
    </div>
    <div class="col-md-1">
        <label for="inputModel" class="form-label">Model</label>
        <select id="inputModel" class="form-select">
            <option value="" selected>Choose...</option>
            <option value="Veneziana">Veneziana</option>
            <option value="Cartier">Cartier</option>
            <option value="Singapura">Singapura</option>
        </select>
    </div>
    <div class="col-md-1">
        <label for="inputGenre" class="form-label">Genre</label>
        <select id="inputCategory" class="form-select">
            <option value="" selected>Choose...</option>
            <option value="Man">Man</option>
            <option value="Women">Women</option>
            <option value="Unisex">Unisex</option>
        </select>
    </div>
    <div class="col-md-1">
        <label for="inputWeight" class="form-label">Weight gr</label>
        <input type="text" class="form-control" id="inputWeight">
    </div>
    <div class="col-md-1">
        <label for="inputLength" class="form-label">Length mm</label>
        <input type="text" class="form-control" id="inputLength">
    </div>
    <div class="col-md-1">
        <label for="inputWidth" class="form-label">Width mm</label>
        <input type="text" class="form-control" id="inputWidth">
    </div>
    <div class="col-md-1">
        <label for="inputHeight" class="form-label">Height mm</label>
        <input type="text" class="form-control" id="inputHeight">
    </div>
    <div class="col-md-2">
        <label for="inputThickness" class="form-label">Thickness mm</label>
        <input type="text" class="form-control" id="inputThickness">
    </div>
    <div class="col-md-1">
        <label for="inputMetal" class="form-label">Metal</label>
        <select id="inputMetal" class="form-select">
            <option value="" selected>Choose...</option>
            <option value="Ouro 750 Amarelo">Ouro 750 Amarelo</option>
            <option value="Ouro 750 Branco">Ouro 750 Branco</option>
            <option value="Ouro 750 Rose">Ouro 750 Rose</option>
            <option value="Ouro 750 A/B/R">Ouro 750 A/B/R</option>
            <option value="Ouro 750 A/B">Ouro 750 A/B</option>
            <option value="Ouro 750 A/R">Ouro 750 A/R</option>
            <option value="Ouro 750 B/R">Ouro 750 B/R</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="inputImage" class="form-label">Image</label>
        <input type="file" class="form-control" id="inputImage">
    </div>
    
      <div class="col-md-6">
    <div class="card mb-5 stones">
        <div class="card-header"><i class="fa-solid fa-gem"></i>Stones</div>
        <div class="card-block p-0">
            <table class="table table-striped table-definition mb-5">
                <thead>
                    <tr>
                        <th></th>
                        <th>Types</th>
                        <th>Origin</th>
                        <th>Amount</th>
                        <th>Size</th>
                        <th>Carat(ct)</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td>
                            <select class="form-select">
                                <option value="" selected>Choose...</option>
                                <option value="White Pearl">White Pearl</option>
                                <option value="Pink Pearl">Pink Pearl</option>
                                <option value="Black Pearl">Black Pearl</option>
                                <option value="Diamond">Diamond</option>
                                <option value="Ruby">Ruby</option>
                                <option value="Emerald">Emerald</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputOrigin">
                        </td>
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputAmount">
                        </td>
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputSize">
                        </td>
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputCarat">
                        </td>
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputValue">
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th colspan="2">
                            <button class="btn btn-primary float-right">Add</button>
                            <button class="btn btn-default">Edit</button>
                            <button class="btn btn-default">Remove</button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card mb-5 pearls">
        <div class="card-header"><i class="fa-solid fa-droplet"></i>Pearls</div>
        <div class="card-block p-0">
            <table class="table table-striped table-definition mb-5">
                <thead>
                    <tr>
                        <th></th>
                        <th>Types</th>
                        <th>Amount</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>Origin</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td>
                            <select class="form-select">
                                <option value="" selected>Choose...</option>
                                <option value="White Pearl">White Pearl</option>
                                <option value="Pink Pearl">Pink Pearl</option>
                                <option value="Black Pearl">Black Pearl</option>
                                <option value="Diamond">Diamond</option>
                                <option value="Ruby">Ruby</option>
                                <option value="Emerald">Emerald</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputAmount">
                        </td>
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputSize">
                        </td>
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputColor">                            
                        </td>
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputOrigin">
                        </td>
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputValue">
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th colspan="2">
                            <button class="btn btn-primary float-right">Add</button>
                            <button class="btn btn-default">Edit</button>
                            <button class="btn btn-default">Remove</button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card mb-5 services">
        <div class="card-header"><i class="fa-solid fa-clipboard"></i>Services</div>
        <div class="card-block p-0">
            <table class="table table-striped table-definition mb-5">
                <thead>
                    <tr>
                        <th></th>
                        <th>Metal/Stones/Pearls</th>
                        <th>Provider</th>
                        <th>Service</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </td>
                        <td>
                            <select class="form-select">
                                <option value="" selected>Choose...</option>
                                <option value="Metal">Metal</option>
                                <option value="Stones">Stones</option>
                                <option value="Pearls">Pearls</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputProvider">
                        </td>
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputService">
                        </td>
                        <td>
                            <input type="text" autocomplete="off" class="form-control" id="inputValue">
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th colspan="2">
                            <button class="btn btn-primary float-right">Add Service</button>
                            <button class="btn btn-default">Edit</button>
                            <button class="btn btn-default">Remove</button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
    <div class="col-md-12">
        <label for="inputNotes" class="form-label"><i class="fa-solid fa-notes"></i>Notes</label>
        <textarea class="form-control" id="inputNotes" rows="13"></textarea>
    </div>
    <div class="col-1">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    <div class="col-1">
        <button type="reset" class="btn btn-danger">Cancel</button>
    </div>
</form>
</div>
</div>