<div class="card mb-5">
    <div class="card-header"><i class="fa-solid fa-circle-user"></i>New Contact</div>
<form action="{% url 'jewelry:newcontact' %}" class="row g-3" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md-2">
        <label for="inputFirstName" class="form-label">First Name</label>
        <input type="text" class="form-control" name="inputFirstName">
    </div>
    <div class="col-md-2">
        <label for="inputLastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" name="inputLastName">
    </div>
    <div class="col-md-2">
        <label for="inputEmail" class="form-label">E-mail</label>
        <input type="text" class="form-control" name="inputEmail">
    </div>
    <div class="col-md-2">
        <label for="inputCompany" class="form-label">Company</label>
        <input type="text" class="form-control" name="inputCompany">
    </div>
    <div class="col-md-1">
        <label for="inputDate" class="form-label">Birthday</label>
        <input type="date" class="form-control" name="inputDate">
    </div>
    <div class="col-md-2">
        <label for="inputInstagram" class="form-label">Instagram</label>
        <input type="text" class="form-control" name="inputInstagram">
    </div>
    <div class="col-md-2">
        <label for="checkboxWhatsapp" class="form-label">Whatsapp</label>
        <input type="checkbox" class="check-input" {% if contact.whatsapp %} checked="checked" {% endif %} value="1"  name="checkboxWhatsapp">
    </div>
    <div class="col-md-2">
        <label for="inputMobile" class="form-label">Mobile</label>
        <input type="text" class="form-control" name="inputMobile">
    </div>
    <div class="col-md-2">
        <label for="inputHouseOffice" class="form-label">House/Office</label>
        <input type="text" class="form-control" name="inputHouseOffice">
    </div>
    <div class="col-md-2">
        <label for="inputImage" class="form-label">Image</label>
        <input type="file" class="form-control" name="inputImage">
    </div>
    <div class="col-md-8">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" name="inputAddress">
    </div>
    <div class="col-md-4">
        <label for="inputNotes" class="form-label"><i class="fa-regular fa-note"></i>Notes</label>
        <textarea class="form-control" name="inputNotes" rows="5"></textarea>
    </div>
    <div class="col-1">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    <div class="col-1">
        <button type="reset" class="btn btn-danger">Cancel</button>
    </div>
</form>
</div>