<header class="main-header-container">
    <div class="main-header container">
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link" href="/"><i class="fa-solid fa-house"></i>Home</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="/jewel"><i
                    class="fa-regular fa-gem"></i>Jewelry</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="#"><i
                    class="fa-solid fa-file-contract"></i>Controls</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="/contact"><i
                    class="fa-solid fa-address-book"></i>Contacts</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="/login"><i
                    class="fa-solid fa-right-from-bracket"></i>Exit</a>
        </nav>
    </div>
</header>