<div class="form-indicators">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Adicionar Indicadores
    </button>
</div>
<div class="table-indicators">
    <table class="table table-sm table-hover text-center" style="width: 40%;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fine Gold</th>
                <th scope="col">Parallel Dollar</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for indicators in daily_indicators %}
            <tr>
                <td>{{ indicators.id }}</td>
                <td>{{ indicators.fine_gold }}</td>
                <td>{{ indicators.parallel_dollar }}</td>
                <td>
                    <a href="{% url 'jewelry:update-indicators' indicators.id %}" class="btn btn-secondary" arialabel="update-contact"><i class="fa-solid fa-rotate-right"></i>Update</a>
                    <a href="{% url 'jewelry:delete-indicators' indicators.id %}" class="btn btn-danger" arialabel="delete-contact"><i class="fa-solid fa-trash"></i>Remove</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Update Indicators</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="" method="post">
                {% csrf_token %}
                    {{ form.as_p }} 
                <input type="submit" value="Save">
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>