<div class="col">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    Indicators <a href=" {% url 'jewelry:new-indicators' %} "><button class="btn btn-new" arialabel="newindicator"><i class="fa-solid fa-plus"></i></button></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-indicators">
                <table class="table table-sm table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fine Gold</th>
                            <th scope="col">Parallel Dollar</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for indicators in daily_indicators %}
                        <tr>
                            <td>{{ indicators.id }}</td>
                            <td>{{ indicators.fine_gold }}</td>
                            <td>{{ indicators.parallel_dollar }}</td>
                            <td>
                                <a href="{% url 'jewelry:update-indicators' indicators.id %}" class="btn btn-warning"
                                    arialabel="update-indicators"><i class="fa-solid fa-rotate-right"></i>Update</a>
                                <a href="{% url 'jewelry:delete-indicators' indicators.id %}" class="btn btn-danger"
                                    arialabel="delete-indicators"><i class="fa-solid fa-trash"></i>Remove</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
</div>
