<div class="col">
    <div class="card">
        <div class="card-header">
            Models
        </div>
        <div class="card-body">
            <div class="table-models">
                <table class="table table-sm table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Categorys</th>
                            <th scope="col">Models</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for models in model_jewelry %}
                        <tr>
                            <td>{{ models.id }}</td>
                            <td>{{ models.category }}</td>
                            <td>{{ models.name }}</td>
                            <td>
                                <a href="{% url 'jewelry:update-models-settings' models.id %}" class="btn btn-warning"
                                    arialabel="update-contact"><i class="fa-solid fa-rotate-right"></i>Update</a>
                                <a href="{% url 'jewelry:delete-models-settings' models.id %}" class="btn btn-danger"
                                    arialabel="delete-contact"><i class="fa-solid fa-trash"></i>Remove</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
</div>