<table id="data_jewel" class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Model</th>
            <th>Weight</th>
            <th>Metal</th>
            <th>Stone</th>
            <th>Foundry</th>
            <th>Workshop</th>
            <th>Value</th>
            <th>+ Info</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                    aria-label="...">
            </td>
            <td>HEAVENLY BEAUTY</td>
            <td>Alianças</td>
            <td>13.52 g</td>
            <td>Ouro 585 Branco</td>
            <td>Diamante</td>
            <td>Bambu</td>
            <td>Oseas</td>
            <td>R$ 3.460,00</td>
            <td>
                <button type="button" class="btn btn_info" data-bs-toggle="popover" data-bs-placement="left"
                    data-bs-custom-class="custom-popover" data-bs-title="HEAVENLY BEAUTY"
                    data-bs-content="Aliança maçiça com 13.52 gr, em Ouro Branco com Diamante 1.5 crt facetado fundição: Bambu oficina: Oseas">
                    + Info
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                    aria-label="...">
            </td>
            <td>ANEL GISELLE</td>
            <td>Anéis</td>
            <td>3.61 g</td>
            <td>Ouro 585 Amarelo</td>
            <td>Perola</td>
            <td>Jose</td>
            <td>Paulinho</td>
            <td>R$ 1.320,00</td>
            <td>
                <button type="button" class="btn btn_info" data-bs-toggle="popover" data-bs-placement="left"
                    data-bs-custom-class="custom-popover" data-bs-title="Custom popover"
                    data-bs-content="This popover is themed via CSS variables.">
                    + Info
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                    aria-label="...">
            </td>
            <td>GLAMIRA PINGENTE ARLENYS</td>
            <td>Colares</td>
            <td>0.49 g</td>
            <td>Ouro 750 Amarelo</td>
            <td>Esmeralda</td>
            <td>Paulo</td>
            <td>Serafim</td>
            <td>R$ 2.510,00</td>
            <td>
                <button type="button" class="btn btn_info" data-bs-toggle="popover" data-bs-placement="left"
                    data-bs-custom-class="custom-popover" data-bs-title="Custom popover"
                    data-bs-content="This popover is themed via CSS variables.">
                    + Info
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                    aria-label="...">
            </td>
            <td>GLAMIRA PINGENTE CROCE</td>
            <td>Colares</td>
            <td>1.17 g</td>
            <td>Ouro 750 Amarelo</td>
            <td>Rubi</td>
            <td>Saulo</td>
            <td>Oseas</td>
            <td>R$ 1.970,00</td>
            <td>
                <button type="button" class="btn btn_info" data-bs-toggle="popover" data-bs-placement="left"
                    data-bs-custom-class="custom-popover" data-bs-title="Custom popover"
                    data-bs-content="This popover is themed via CSS variables.">
                    + Info
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                    aria-label="...">
            </td>
            <td>PINGENTE MASCULINO GLAMIRA HARLAN</td>
            <td>Colares</td>
            <td>1.79 g</td>
            <td>Ouro 750 Branco</td>
            <td>DIamante</td>
            <td>Raul</td>
            <td>Augusto</td>
            <td>R$ 2.190,00</td>
            <td>
                <button type="button" class="btn btn_info" data-bs-toggle="popover" data-bs-placement="left"
                    data-bs-custom-class="custom-popover" data-bs-title="Custom popover"
                    data-bs-content="This popover is themed via CSS variables.">
                    + Info
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                    aria-label="...">
            </td>
            <td>GLAMIRA BRINCOS ARTA</td>
            <td>Brincos</td>
            <td>2.86 g</td>
            <td>Ouro 750 Branco</td>
            <td>Diamante</td>
            <td>Bambu</td>
            <td>Oseas</td>
            <td>R$ 1.520,00</td>
            <td>
                <button type="button" class="btn btn_info" data-bs-toggle="popover" data-bs-placement="left"
                    data-bs-custom-class="custom-popover" data-bs-title="Custom popover"
                    data-bs-content="This popover is themed via CSS variables.">
                    + Info
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                    aria-label="...">
            </td>
            <td>GLAMIRA ANEL MAHARLIKA</td>
            <td>Anéis</td>
            <td>6.89 g</td>
            <td>Ouro 750 Amarelo</td>
            <td>Rubi</td>
            <td>Alberto</td>
            <td>Augusto</td>
            <td>R$ 30.990,00</td>
            <td>
                <button type="button" class="btn btn_info" data-bs-toggle="popover" data-bs-placement="left"
                    data-bs-custom-class="custom-popover" data-bs-title="Custom popover"
                    data-bs-content="This popover is themed via CSS variables.">
                    + Info
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value=""
                    aria-label="...">
            </td>
            <td>GLAMIRA BRINCOS GINNY</td>
            <td>Brincos</td>
            <td>1.94 g</td>
            <td>Ouro 750 Amarelo</td>
            <td>Perola</td>
            <td>Jorge</td>
            <td>Oseas</td>
            <td>R$ 960,00</td>
            <td>
                <button type="button" class="btn btn_info" data-bs-toggle="popover" data-bs-placement="left"
                    data-bs-custom-class="custom-popover" data-bs-title="Custom popover"
                    data-bs-content="This popover is themed via CSS variables.">
                    + Info
                </button>
            </td>
        </tr>
    </tbody>
</table>