<div class="col">
    <div class="card">
        <div class="card-header">
            Stones
        </div>
        <div class="card-body">
            <div class="table-stones">
                <table class="table table-sm table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Types</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for stone in stones %}
                        <tr>
                            <td>{{ stone.id }}</td>
                            <td>{{ stone.name }}</td>
                            <td>
                                <a href="{% url 'jewelry:update-stones-settings' stone.id %}" class="btn btn-secondary"
                                    arialabel="update-contact"><i class="fa-solid fa-rotate-right"></i>Update</a>
                                <a href="{% url 'jewelry:delete-stones-settings' stone.id %}" class="btn btn-danger"
                                    arialabel="delete-contact"><i class="fa-solid fa-trash"></i>Remove</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>