<div class="col">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    Pearls <a href=" {% url 'jewelry:new-pearls-settings' %} "><button class="btn btn-new" arialabel="newindicator"><i class="fa-solid fa-plus"></i></button></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-pearls">
                <table class="table table-sm table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Types</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for pearl in pearls %}
                        <tr>
                            <td>{{ pearl.id }}</td>
                            <td>{{ pearl.name }}</td>
                            <td>
                                <a href="{% url 'jewelry:update-pearls-settings' pearl.id %}" class="btn btn-warning"
                                    arialabel="update-pearls"><i class="fa-solid fa-rotate-right"></i>Update</a>
                                <a href="{% url 'jewelry:delete-pearls-settings' pearl.id %}" class="btn btn-danger"
                                    arialabel="delete-pearls"><i class="fa-solid fa-trash"></i>Remove</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
</div>